.Bloodmain  {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	background-image: rgba(255, 252, 252, 0.975);
	

	
}
.Bloodmain .b-c{

    color: #000;
    text-align: center;
    text-decoration: none;
   
	padding: 20px;
	
	
	width: 250px;
	height: 270px;
	box-shadow: inset 0 0 10px rgb(2, 220, 50),
					0 0 20px rgb(0, 236, 216);
	border-radius: 600px;
	cursor: pointer;
	transition-duration: .5s;


    
} 

.Bloodmain .b-c img {
width: 70px;

}


.Blood1 .b-c p{
	color: #fd3d7a;
    
	font-size: 1rem;
	font-family: 'Open Sans',sans-serif;
    text-decoration-line: none;



}

.Blood1 .b-c :hover {

    box-shadow: 0 0 50px rgba(225, 220, 223, 0.493);

}

h5{

    text-align: center;
    text-decoration: none;
    text-size-adjust: 1.5px ;
}
h3{

    color: rgba(253, 2, 86, 0.758);
    text-align: center;
}
a{
    text-decoration: none;
}
#about_section, #portfolio_section, #team_section, #services_section, #contactus_section , #sec-m ,#bloodsec  {
	font-family: 'Open Sans', sans-serif;
	color: #e10909;
	position: center;
    align-items: center;
}
p
{
    
    color: #e10909;
    text-align: center;}