.Bloodmain  {

   display: flex;
  flex-direction: column;
  
   background-image: rgba(218, 10, 10, 0.975);
   
}
.Bloodmain .b-c{

    color: #000;
    text-align: center;
    text-decoration: none;
   
	padding: 20px;
	
	background-color: #ffffff6b;
	width: 250px;
	height: 270px;
	box-shadow: inset 6px 10px 30px rgb(15, 240, 71),
					8px 30px 100px rgb(1, 255, 22);
	border-radius: 1000px;
	cursor: pointer;
	transition-duration: .5s;


    
} 

.Bloodmain .b-c img {
width: 70px;

}


.Blood1 .b-c p{
	color: #fd3d7a;
    
	font-size: 1rem;
	font-family: 'Open Sans',sans-serif;
    text-decoration-line: none;



}

.Blood1 .b-c :hover {

    box-shadow: 0 0 50px rgba(225, 220, 223, 0.493);

}

h5{

    text-align: center;
    text-decoration: none;
    text-size-adjust: 1.5px ;
}
h3{

    color: rgba(253, 2, 86, 0.758);
    text-align: center;
}
a{
    text-decoration: none;

}
#about_section, #portfolio_section, #team_section, #services_section, #contactus_section , #sec-m ,#bloodsec  {
	font-family: 'Open Sans', sans-serif;
	color: #e1092d;
	position: center;
    align-items: center;
}
p
{
    
    color: #d80101b7;
    text-align: center;}